* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #747171;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: rgb(240, 240, 240);
    margin: 5px;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 45%;
        top: 8vh;
        background-color: #747171;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}